
<h2>Embed</h2>


@*<img src="https://wallpaperplay.com/walls/full/d/9/b/44840.jpg" height="30px" />*@

<embed src="@Url.Action("Pdf")" width="100%" height="500px" type="application/pdf"/>
@*<object data="@Url.Action("Pdf")" width="100%" height="500px" type="application/pdf"></object>*@