

<img src="https://wallpaperplay.com/walls/full/d/9/b/44840.jpg" height="30px" />


<h3>Form con texto</h3>
<form data-loader-text="Loading form request" asp-action="_HeavyPartial">
    <button class="btn" type="submit">Submit</button>
</form>

<h3>Form sin texto</h3>
<form asp-action="_HeavyPartial">
    <button class="btn" type="submit">Submit</button>
</form>

<h3>A con texto</h3>
<a asp-action="_HeavyPartial" data-loader-text="Loading a..." class="btn btn-default">Submit</a>