@model object



<img src="https://wallpaperplay.com/walls/full/d/9/b/44840.jpg" height="5px" />
<box>
    <box-header title="Async loaded minimize test" minimize="true" close="true">
    </box-header>
    <box-body class="text-center">
        <a href="/Home"
           confirm="¿Está seguro de que llamo este botón que ha sido cargado desde una partial async?"
           class="btn btn-default btn-lg">
            Async loaded button with confirm
        </a>
    </box-body>
</box>
